#new_sms{
  border: 2px solid black;
  background: #fff;
  color: black;
  font-size: 10px
}
.sidenav---sidenav---_2tBP {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1006;
  min-width: 64px;
  height: 1300px;
  background: #41464b;
  transition: min-width 0.2s;
}
button:not(:disabled) {
  cursor: pointer;
}